<ion-header>
  <ion-toolbar color="danger">
    <ion-button slot="start" color="danger">
      <ion-back-button></ion-back-button>
    </ion-button>
    <ion-title>Lista Mercado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <ion-textarea class="custom-textarea" placeholder="Escribe Aquí"><ion-label stacked><ion-input placeholder="Titulo"></ion-input></ion-label></ion-textarea>
  <ion-textarea class="custom-textarea" placeholder="Escribe Aquí"><ion-label stacked><ion-input placeholder="Titulo"></ion-input></ion-label></ion-textarea>
  <ion-textarea class="custom-textarea" placeholder="Escribe Aquí"><ion-label stacked><ion-input placeholder="Titulo"></ion-input></ion-label></ion-textarea>
  <ion-textarea class="custom-textarea" placeholder="Escribe Aquí"><ion-label stacked><ion-input placeholder="Titulo"></ion-input></ion-label></ion-textarea>
</ion-card>
</ion-content>
