<ion-header>
  <ion-toolbar color="secondary">
    <ion-button slot="start"  color="secondary">
      <ion-back-button></ion-back-button>
    </ion-button>
    <ion-title>Calculadora</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="secondary">
    <ion-list>
      <ion-item>
        <ion-select placeholder="Alimentos">
          <ion-select-option value="Manzana">Manzana</ion-select-option>
          <ion-select-option value="Naranja">Naranja</ion-select-option>
          <ion-select-option value="bananas">Bananas</ion-select-option>
          <ion-select-option value="Garbanzo">Garbanzo</ion-select-option>
          <ion-select-option value="Arbeja">Arbeja</ion-select-option>
          <ion-select-option value="Cus Cus">Cus Cus</ion-select-option>
          <ion-select-option value="Quinoa">Quinoa</ion-select-option>
          <ion-select-option value="Espinaca">Espinaca</ion-select-option>
          <ion-select-option value="Choclo">Choclo</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item>
        <ion-label stacked>Cantidad</ion-label>
        <ion-select placeholder="Peso">
          <ion-select-option value="kg">Kg</ion-select-option>
          <ion-select-option value="Gramos">Gramos</ion-select-option>
        </ion-select>
        <ion-input type="text"></ion-input>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
