<ion-header>
  <ion-toolbar color="dark">
    <ion-button slot="start" color="dark">
      <ion-back-button></ion-back-button>
    </ion-button>
    <ion-title>Mapa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-img class="mapa" src= "./assets/mapa/mapita.png.png" item-start></ion-img>
  
    <ion-item>
      <ion-icon class="icon1" name="restaurant"></ion-icon>
      <h2 class="h">El viejo balcon</h2>
      <p class="tx1">Av. Carballo 198</p>
    </ion-item>
  
    <ion-item>
      <ion-icon class="icon2" name="restaurant"></ion-icon>
      <h2 class="h">Restaurant La Huerta</h2>
      <p class="tx2">Córdoba 2650</p>
    </ion-item>

    <ion-item>
      <ion-icon class="icon3" name="restaurant"></ion-icon>
      <h2 class="h">La fuente de la vida</h2>
      <p class="tx3">Salta 2851</p>
    </ion-item>

    <ion-item>
      <ion-icon class="icon" name="restaurant"></ion-icon>
      <h2 class="h">VQV</h2>
      <p class="text">Cafferata 729</p>
    </ion-item>

  </ion-card>
</ion-content>

