.mapa{
    height: 500px;
    width: 500px;
    margin-bottom: 0px;
    display: block;
  }
.h{
  margin-left: 10px;
  font-size: 18px;
}
.text{
  margin-left: 50px;
}
.tx1{
  margin-left: 55px;
}
.tx2{
  margin-left: 25px;
}
.tx3{
  margin-left: 40px;
}
.t4{
  margin-left: 150px;
}
.icon{
  margin-left: 10px;
  height: 30px;
}
.icon1{
  margin-left: 10px;
  height: 30px;
}
.icon2{
  margin-left: 10px;
  height: 30px;
}
.icon3{
  margin-left: 10px;
  height: 30px;
}
 