<ion-app>
  <ion-menu menuId="main-menu" content-id="main">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <iol-list>
        <ion-item>
          <ion-icon name="compass" slot="start"></ion-icon>
          <ion-label>Localización</ion-label>
          <h2 end="start" class="rosario">Rosario</h2>
        </ion-item>
        <ion-item>
          <ion-icon name="finger-print" slot="start"></ion-icon>
          <ion-label>Privacidad</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="build" slot="start"></ion-icon>
          <ion-label>Versión</ion-label>
          <h3 class="rosario">0.0.1</h3>
        </ion-item>
        <ion-item>
          <ion-icon name="person" slot="start"></ion-icon><ion-label>Cerrar Sesión</ion-label>
          <ion-button end="start" color="secondary" class="salir" [routerLink]="['/login']"><h4 class="salir1">Salir</h4></ion-button>
        </ion-item>
      </iol-list> 
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
