<ion-header>
  <ion-toolbar color="tertiary">
    <ion-button slot="start" color="tertiary">
      <ion-back-button></ion-back-button>
    </ion-button>
    <ion-title>Calendario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-datetime class="datetime"></ion-datetime>
<ion-card class="card1" color="tertiary">
<ion-card class="card2">
  <button ion-button class="buton"><h1 class="text">Agregar Meta</h1></button>
</ion-card>
<ion-card>
  <h1 class="text2" color="mio">Metas actuales</h1>
</ion-card>
<ion-card>
  <div>
  <ion-label><h2 class="text3">Meta1</h2></ion-label>
  <ion-checkbox class="check"></ion-checkbox>
  </div>
  <div>
    <ion-label><h2>Meta2</h2></ion-label>
  <ion-checkbox class="check"></ion-checkbox>
  </div>
  <div>
    <ion-label><h2>Meta3</h2></ion-label>
  <ion-checkbox class="check"></ion-checkbox>
  </div>
</ion-card>
</ion-card>
</ion-content>
