<ion-header>
  <ion-toolbar color="warning">
    <ion-button slot="start" color="warning">
      <ion-back-button></ion-back-button>
    </ion-button>
    <ion-title>Comunidad</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item color="dark-tint">
        <ion-avatar item-start>
          <img src="./assets/img/Vegana.png">
        </ion-avatar>
        <h2>Gisela Mormont</h2>
      </ion-item>

  <ion-card>
    <img src="./assets/img/Tostada.png"/>
    <ion-card-content>
      <ion-card-title class="text">
        HEALTHY-LIFE
        </ion-card-title>
      <p>
        Acá, en la pileee tostaditaa, un caloor.
        #DesayunoSano
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
