<ion-header>
  <ion-toolbar color="warning">
    <ion-button slot="start" color="warning">
      <ion-back-button></ion-back-button>
    </ion-button>
    <ion-title>Comunidad</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item color="dark-tint">
        <ion-avatar item-start>
          <img src="./assets/img/Vegana.png">
        </ion-avatar>
        <h2 class="textgisela">Gisela Mormont</h2>
      </ion-item>
  <ion-card>
    <img src="./assets/img/Tostada.png"/>
    <ion-card-content>
      <ion-card-title class="text">
        HEALTHY-LIFE
        </ion-card-title>
      <p>
        Acá, en la pileee tostaditaa, un caloor.
        #desayunosano
      </p>
    </ion-card-content>
  </ion-card>

  <ion-item color="dark-tint">
    <ion-avatar item-start>
      <img src="./assets/img/hombre.png">
    </ion-avatar>
    <h2 class="textmateo">Mateo Martinez</h2>
  </ion-item>
<ion-card>
<img src="./assets/img/arroz.jpg"/>
<ion-card-content>
  <ion-card-title class="text">
    ALMUERZO VEGGIE
    </ion-card-title>
  <p>
 #vidasaludable #salvemosalosanimales
  </p>
</ion-card-content>
</ion-card>

<ion-item color="dark-tint">
  <ion-avatar item-start>
    <img src="./assets/img/monica.jpg">
  </ion-avatar>
  <h2 class="textmonica">Monica Villareal</h2>
</ion-item>
<ion-card>
<img src="./assets/img/postre.png"/>
<ion-card-content>
<ion-card-title class="text">
  RICO, SANO Y SALUDABLE
</ion-card-title>
<p>
  Abajo les dejo la receta para que ustedes también puedan comer #ricosanoysaludable
</p>
</ion-card-content>
</ion-card>
</ion-content>