<ion-header>
  <ion-toolbar color="success">
    <ion-button slot="start" color= "success">
      <ion-back-button></ion-back-button>
    </ion-button>
    <ion-button  slot="start" color="success" class="boton" [routerLink]="['/agreag-recetas']">
    <ion-icon name="add" ></ion-icon>
    </ion-button>
    <ion-title>Recetario</ion-title>
  </ion-toolbar>

<ion-toolbar color="success">
<ion-searchbar placeholder="Buscar ingrediente....."
animated
(ionChange)="buscarIngrediente( $event )">  </ion-searchbar>
</ion-toolbar>


</ion-header>

<ion-content>

  <ion-list>

    <ion-item *ngFor="let receta of recetas">
      <ion-label>
        <h1>
          {{receta.nombre}}
        </h1>
        <h2>
          Ingredientes
        </h2>
        <h3>
           {{receta.ingredientes}}
        </h3>
        <h4>
          Pasos
        </h4>
        <h5>
          {{receta.pasos}}
        </h5>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>