<ion-header>
  <ion-toolbar color="success">
    <ion-button slot="start" color= "success">
      <ion-back-button></ion-back-button>
    </ion-button>
    <ion-button slot="start" color="success" class="boton">
    <ion-icon name="add"></ion-icon>
    </ion-button>
    <ion-title>Recetario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-header>
  
  <ion-searchbar showCancelButton animated placeholder="Buscar" (ionChange)="buscar(Sevent)"></ion-searchbar>
</ion-header>

<ion-content>
  <ion-card>
  <ion-card-content>
  <ion-card-title class="titulo">
    FIDEOS DE CALABAZA
  </ion-card-title>
<div>
  <ion-card-subtitle class="subtitulo">
    INGREDIENTES
  </ion-card-subtitle>
</div>

  <ion-list>
    <ion-item color="medium">
      <ion-label color="success">5 calabazas medianas</ion-label>
  </ion-item>
  <ion-item color="medium">
    <ion-label color="success">1 cda. de aceite de oliva</ion-label>
  </ion-item>
  <ion-item color="medium">
    <ion-label color="success">½ taza de pesto</ion-label>
  </ion-item>
  <ion-item color="medium">
    <ion-label color="success">Sal y pimienta al gusto</ion-label>
  </ion-item>
  <ion-item color="medium">
    <ion-label color="success">Queso feta o parmesano para decorar</ion-label>
  </ion-item>
</ion-list>

<div>
  <ion-card-subtitle class="subtitulo">
    PROCEDIMIENTO
  </ion-card-subtitle>
</div>
  <p class="parrafo">
    Coloca en un cortador especial para verduras en forma de espiral las calabazas para que salgan como fideos. Colócalas en una sartén con una cucharada de aceite de oliva y saltea hasta que queden más suaves. Agrega el pesto, la sal y pimienta al gusto y revuelve. Sirve y decora con tu queso preferido. 
  </p>
  </ion-card-content>
  </ion-card>
</ion-content>



<ion-content>
  <ion-card>
  <ion-card-content>
  <ion-card-title class="titulo">
    BERRO FRITO CON LIMÓN
  </ion-card-title>
<div>
  <ion-card-subtitle class="subtitulo">
    INGREDIENTES
  </ion-card-subtitle>
</div>

  <ion-list>
    <ion-item color="medium">
      <ion-label color="success">3 tazas de berros desinfectados</ion-label>
  </ion-item>
  <ion-item color="medium">
    <ion-label color="success">1 limón amarillo</ion-label>
  </ion-item>
  <ion-item color="medium">
    <ion-label color="success">1 cda. de sal en grano</ion-label>
  </ion-item>
  <ion-item color="medium">
    <ion-label color="success">Aceite para freír</ion-label>
  </ion-item>
</ion-list>

<div>
  <ion-card-subtitle class="subtitulo">
    PROCEDIMIENTO
  </ion-card-subtitle>
</div>
  <p class="parrafo">
    Fríe el berro en el aceite. Cuando deje de burbujear, retira a papel absorbente. Reserva hasta terminar.
    Para servir, esparce el jugo del limón y la sal. 
  </p>
  </ion-card-content>
  </ion-card>
</ion-content>



<ion-content>
  <ion-card>
  <ion-card-content>
  <ion-card-title class="text">
    ENSALADA DE FRIJOLES
  </ion-card-title>
<div>
  <ion-card-subtitle class="subtitulo">
    INGREDIENTES
  </ion-card-subtitle>
</div>

  <ion-list>
    <ion-item color="medium">
      <ion-label color="success">1/2 de lechuga fileteada</ion-label>
  </ion-item>
  <ion-item color="medium">
    <ion-label color="success">300 g de queso panela en cubos pequeños</ion-label>
  </ion-item>
  <ion-item color="medium">
    <ion-label color="success">1 taza de frijol cocido</ion-label>
  </ion-item>
  <ion-item color="medium">
    <ion-label color="success">2 jitomates en cubos pequeños</ion-label>
  </ion-item>
  <ion-item color="medium">
    <ion-label color="success">1 1/2 tazas de tiras de tortillas crujientes</ion-label>
  </ion-item>
  <ion-item color="medium">
    <ion-label color="success">1 chile chipotle</ion-label>
  </ion-item>
  <ion-item color="medium">
    <ion-label color="success">2 cdas. de miel</ion-label>
  </ion-item>
  <ion-item color="medium">
    <ion-label color="success">1 cda. de mostaza</ion-label>
  </ion-item>
  <ion-item color="medium">
    <ion-label color="success">2 limones</ion-label>
  </ion-item>
  <ion-item color="medium">
    <ion-label color="success">1/3 taza de aceite</ion-label>
  </ion-item>
</ion-list>

<div>
  <ion-card-subtitle class="subtitulo">
    PROCEDIMIENTO
  </ion-card-subtitle>
</div>
  <p class="parrafo">
    Sirve la ensalada en vasos pequeños.
    Para el aderezo licúa todos los ingredientes y salpimienta.
    Baña los vasos de ensalada con el aderezo y sirve.
  </p>
  </ion-card-content>
  </ion-card>
</ion-content>