<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Inicio</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menuId="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
  <ion-button class="botonCA" color="secondary"[routerLink]="['/calculadora']">
    <ion-icon class="icon" name="calculator"></ion-icon>
  </ion-button>
  <ion-button class="botonCA"color="tertiary"[routerLink]="['/calendario']">
    <ion-icon class="icon"name="calendar"></ion-icon>
  </ion-button>
</div>
<div>
  <ion-button class="botonCA" color="success"[routerLink]="['/recetario']">
    <ion-icon class="icon"name="book"></ion-icon>
  </ion-button>
  <ion-button class="botonCA" color="warning"[routerLink]="['/comunidad']">
    <ion-icon class="icon" name="chatbubbles"></ion-icon>
  </ion-button>
</div>
<div>
  <ion-button class="botonCA" color="danger"[routerLink]="['/lista-mercado']">
    <ion-icon class="icon" name="cart"></ion-icon>
  </ion-button>
  <ion-button class="botonCA" color="dark"[routerLink]="['/mapa']">
    <ion-icon class="icon"name="map"></ion-icon>
  </ion-button>
</div>

</ion-content>
