<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
  <ion-button class="botonCA"color="secondary"[routerLink]="['/calculadora']">
    <div>
    <span class="texto">Calculadora</span>
    </div>
    <div>
    <ion-icon class="icon" name="heart"></ion-icon>
    </div>
  </ion-button>
  <ion-button class="botonCA"color="tertiary"[routerLink]="['/calendario']">
    <div>
    Calendario
    </div>
    <div>
    <ion-icon name="calendar"></ion-icon>
    </div>
  </ion-button>
</div>
<div>
  <ion-button class="botonCA" color="success"[routerLink]="['/recetario']">
    Recetario
    <ion-icon name="bookmarks"></ion-icon>
  </ion-button>
  <ion-button class="botonCA" color="warning"[routerLink]="['/comunidad']">
    Comunidad
    <ion-icon name="globe"></ion-icon>
  </ion-button>
</div>
<div>
  <ion-button class="botonCA" color="danger"[routerLink]="['/lista-mercado']">
     Mercado
    <ion-icon name="document"></ion-icon>
  </ion-button>
  <ion-button class="botonCA" color="dark"[routerLink]="['/mapa']">
    Mapa
    <ion-icon name="paper-plane"></ion-icon>
  </ion-button>
</div>
</ion-content>
